<div class="clips">
    <md-subheader class="md-no-sticky">
        <h1>
            Klipy
        </h1>
    </md-subheader>
    <div hide-gt-xs="true" show-xs="true">
        <span ng-repeat="clip in vm.clips" ng-include="'clip-card'"></span>
    </div>
    <div show-gt-xs="true" hide-xs="true" layout="row">
        <div flex="50">
            <span ng-repeat="clip in vm.clips" ng-if="$even" ng-include="'clip-card'"></span>
        </div>
        <div flex="">
            <span ng-repeat="clip in vm.clips" ng-if="$odd" ng-include="'clip-card'"></span>
        </div>
    </div>
</div>

<script type="text/ng-template" id="clip-card">
    <md-card>
        <iframe ng-src="{{clip.youtube}}"
                frameborder="0"
                allowfullscreen
                ng-if="clip.youtube"></iframe>
        <md-card-title ng-if="clip.title">
            <md-card-title-text>
                <span class="md-headline">{{clip.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-if="clip.text">
            {{clip.text}}
        </md-card-content>
    </md-card>
</script>