.content {
  .activeItem {
    border-bottom: 2px rgb(140, 158, 255) solid;
    border-radius: 0;
  }

  .toolbar-logo {
    img {
      height: 48px;
      width: auto;
    }
  }

  .logo {
    background-image: url("/static/assets/images/booklet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;

    img {
      height: auto;
      width: auto;
      max-height: 100%;
    }
  }
}