<div class="content" ng-cloak="" layout="column">
    <div class="header-image">&nbsp;</div>
    <md-toolbar class="header-toolbar small-screen">
        <div class="md-toolbar-tools" layout-align="end center">
            <div>
                <md-button aria-label="Open menu"
                           ng-click="vm.toggleNavigation()"
                           class="md-icon-button">
                    <md-icon>menu</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-toolbar class="header-toolbar large-screen">
        <div class="md-toolbar-tools" layout-align="end center">
            <md-button ui-sref="app.home" class="md-icon-button">
                <md-icon>home</md-icon>
            </md-button>
            <md-button ui-sref="app.concerts">koncerty</md-button>
            <md-button ui-sref="app.clips">klipy</md-button>
            <md-button ui-sref="app.shop">obchod</md-button>
            <md-button ui-sref="app.contacts">kontakty</md-button>
            <md-button ui-sref="app.sponsors">sponzoři</md-button>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2"
                md-component-id="navigation"
                md-whiteframe="4">

        <md-toolbar layout="row" class="md-hue-2">
            <div class="md-toolbar-tools">
                Navigace
            </div>
        </md-toolbar>


        <md-content>
            <md-list>
                <md-list-item ui-sref="app.home" ng-click="vm.toggleNavigation()">
                    <md-icon>home</md-icon>
                    <div flex>informace</div>
                </md-list-item>
                <md-list-item ui-sref="app.concerts" ng-click="vm.toggleNavigation()">
                    <md-icon>local_activity</md-icon>
                    <div flex>koncerty</div>
                </md-list-item>
                <md-list-item ui-sref="app.clips" ng-click="vm.toggleNavigation()">
                    <md-icon>music_video</md-icon>
                    <div flex>klipy</div>
                </md-list-item>
                <md-list-item ui-sref="app.shop" ng-click="vm.toggleNavigation()">
                    <md-icon>shopping_cart</md-icon>
                    <div flex>obchod</div>
                </md-list-item>
                <md-list-item ui-sref="app.contacts" ng-click="vm.toggleNavigation()">
                    <md-icon>email</md-icon>
                    <div flex>kontakty</div>
                </md-list-item>
                <md-list-item ui-sref="app.sponsors" ng-click="vm.toggleNavigation()">
                    <md-icon>sentiment_very_satisfied</md-icon>
                    <div flex>sponzoři</div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <md-content flex="">
        <ui-view></ui-view>
    </md-content>

    <md-toolbar layout="row" layout-align="center center">
        <md-button href="https://www.facebook.com/dexormetal/" class="md-icon-button">
            <md-icon md-svg-src="/static/assets/images/icons/facebook.svg"></md-icon>
        </md-button>
        <md-button href="https://www.youtube.com/channel/UCE0zKNxo0aSWLSv9OKfFa0g" class="md-icon-button">
            <md-icon md-svg-src="/static/assets/images/icons/youtube.svg"></md-icon>
        </md-button>
        <!--<md-button href="http://soundcloud.com" class="md-icon-button" ng-disabled="true">-->
        <!--<md-icon md-svg-src="/static/assets/images/icons/soundcloud.svg"></md-icon>-->
        <!--</md-button>-->
        <md-button href="http://bandzone.cz/dexor" class="md-icon-button">
            <md-icon md-svg-src="/static/assets/images/icons/bandzone.svg"></md-icon>
        </md-button>
    </md-toolbar>
</div>